@model Jonesware.WeightTracker.Website.ViewModels.Profile.BodyFatPercentageViewModel

@{
    ViewBag.Title = "Body Fat Percentage";
    Layout = "~/Views/Shared/_2ColumnLeft.cshtml";
}

@Html.Partial("~/Views/Shared/_PageHeader.cshtml", "Body Fat Percentage")

@if (Model.CanCalculate)
{
	<p><strong class="text-muted">Your Body Fat Percentage:</strong> @Model.BFP.Value.ToString("#.##")</p>
}
else
{
	<p>We are unable to calculate your body fat percentage at this time.</p>
}
