@model Jonesware.WeightTracker.Website.ViewModels.Profile.BodyMassIndexViewModel

@{
	ViewBag.Title = "Body Mass Index (BMI)";
	Layout = "~/Views/Shared/_2ColumnLeft.cshtml";
}

@Html.Partial("~/Views/Shared/_PageHeader.cshtml", "Body Mass Index (BMI)")

<p class="lead">Body mass index (BMI) is a measure of body fat based on your weight in relation to your height, and applies to most adult men and women aged 20 and over.  In general, the higher the number, the more body fat a person has. BMI is often used as a screening tool to decide if your weight might be putting you at risk for health problems such as heart disease, diabetes, and cancer.</p>

<hr />

@if (Model.CanCalculate)
{
	<p>We were able to calculate your BMI based on the information you have given us in your Profile and from your latest Weigh In.</p>
	<p><strong class="text-muted">Your Body Mass Index (BMI):</strong> @Model.BMI.Value.ToString("#.##")</p>
	<p>Refer to the image below to see how your BMI ranks.</p>
}
else
{
	<p>We are unable to calculate your body mass index at this time. Please fill out your Profile and have at least 1 Weigh In.</p>
}

<p><img class="img-responsive center-block" src="~/images/bmi-for-men-and-women.png" alt="Image taken from Medical News Today." title="Body Mass Index Chart" /></p>

<p>
	Although BMI can be used for most men and women, it does have some limits:
	<ul>
		<li>It may overestimate body fat in athletes and others who have a muscular build.</li>
		<li>It may underestimate body fat in older persons and others who have lost muscle.</li>
	</ul>
</p>

<hr />

<p class="small"><em>Additional information on BMI may be found at the following sources:</em></p>
<ul class="small">
	<li><a href="http://www.medicalnewstoday.com/info/obesity/what-is-bmi.php" target="_blank">http://www.medicalnewstoday.com/info/obesity/what-is-bmi.php</a></li>
	<li><a href="http://halls.md/body-mass-index/av.htm" target="_blank">http://halls.md/body-mass-index/av.htm</a></li>
	<li><a href="http://www.nhlbi.nih.gov/health/educational/lose_wt/risk.htm" target="_blank">http://www.nhlbi.nih.gov/health/educational/lose_wt/risk.htm</a></li>
	<li><a href="http://www.cancer.org/cancer/cancercauses/dietandphysicalactivity/bodyweightandcancerrisk/body-weight-and-cancer-risk-adult-bmi" target="_blank">http://www.cancer.org/cancer/cancercauses/dietandphysicalactivity/bodyweightandcancerrisk/body-weight-and-cancer-risk-adult-bmi</a></li>
</ul>