@{
	ViewBag.Title = "Home";
	Layout = "~/Views/Shared/_LayoutBase.cshtml";
}

<div class="jumbotron home">
	<div class="container">
		<h1>Weight Tracker</h1>
		<p>Helping You Stay On Track</p>
	</div>
</div>
